@font-face {
  font-family: PPFractionMono;
  src: url('./fonts/PPFraktionMono-Regular.woff2') format('woff2');
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.period {
	position: fixed;
	top: 55vh;
	z-index: 100;
	display: grid;
	height: fit-content;
  width: 100vw;
}

.period-cont {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  width: 100vw;
  height: fit-content;
	align-items: center;
	justify-content: center;
}

.period .period-text {
	border-radius: 50px;
	background: #F5F5F5;
	width: fit-content;
	height: 20px;
	display: grid;
	place-items: center;
	padding: 10px 20px;
}

.period .period-text:hover {
	border-radius: 50px;
	background: #000;
	width: fit-content;
	height: 20px;
	display: grid;
	place-items: center;
	padding: 10px 20px;
}

.period .period-text p {
	width: fit-content;
	height: auto;
	z-index: 0;
	font-family: "PPFractionMono";
	color: #000;
	font-size: 0.6rem;
	letter-spacing: 0em;
	text-align: center;
	line-height: 0rem;
	font-feature-settings: normal;
	position: relative;
}

.period .period-text:hover p {
	width: fit-content;
	height: auto;
	z-index: 0;
	font-family: "PPFractionMono";
	color: #fff;
	font-size: 0.6rem;
	letter-spacing: 0em;
	text-align: center;
	line-height: 0rem;
	font-feature-settings: normal;
	position: relative;
}

.period .period-text-hl {
	border-radius: 50px;
	background: #000;
	width: fit-content;
	height: 20px;
	display: grid;
	gap: 4px;
	place-items: center;
	padding: 10px 20px;
}

.period .period-text-hl p {
	width: fit-content;
	height: auto;
	z-index: 0;
	font-family: "PPFractionMono";
	color: #F5F5F5;
	font-size: 0.6rem;
	letter-spacing: 0em;
	text-align: center;
	line-height: 0rem;
	font-feature-settings: normal;
	position: relative;
}

.description {
  position: fixed;
  top: 20vh;
	height: fit-content;
  width: 100vw;
  height: 20px;
  display: grid;
  overflow-y: hidden;
  box-sizing: border-box;
  padding: 25vh 5vw;
}

.description-cont {
	border-radius: 50px;
	background: #000;
  display: grid;
  gap: 0vh;
  width: fit-content;
  margin: 0 auto;
  height: fit-content;
	position: relative;
	place-items: center;
	padding: 0px 20px;
}

.description h1{
	font-family: "PPFractionMono";
	color: #F5F5F5;
	font-size: 1rem;
	letter-spacing: 0em;
	text-align: center;
	line-height: 2rem;
	font-feature-settings: normal;
	position: relative;
}

.description p{
	font-family: "PPFractionMono";
	color: #F5F5F5;
	font-size: .8rem;
	letter-spacing: 0em;
	text-align: left;
	line-height: 2rem;
	font-feature-settings: normal;
	position: relative;
}

.description-cont:hover {
	border-radius: 50px;
	background: #F5F5F5;
  display: grid;
  gap: 0vh;
  width: fit-content;
  margin: 0 auto;
  height: fit-content;
	position: relative;
	place-items: center;
	padding: 0px 20px;
}

.description-cont:hover h1{
	font-family: "PPFractionMono";
	color: #000;
	font-size: 1rem;
	letter-spacing: 0em;
	text-align: center;
	line-height: 2rem;
	font-feature-settings: normal;
	position: relative;
}

a {
	color: 5FEFB5;
}

@media (max-width: 800px) {

  .page-number .number {
		width: 14px;
		height: 14px;
		padding: 7px;
	}

	.page-number .number p {
		font-size: 0.4rem;
	}

  .page-number .number-hl {
		width: 14px;
		height: 14px;
		padding: 7px;
	}

	.period {
		top: 53vh;
	}

	.page-number .number-hl p {
		font-size: 0.4rem;
	}

	.period .period-text {
		padding: 5px 10px;
	}	

	.period .period-text-hl {
		padding: 5px 10px;
	}	

	.question p {
		font-size: 0.6rem;
		width: 50vw;
	}

	.data .data-button {
		width: 20px;
		height: 20px;
	}

	.description {
		padding: 27vh 0;
	}

	.description-cont {
		max-width: 60vw;
	}

	.description-cont {
		max-width: 60vw;
	}

	.description-cont h1 {
		font-size: 0.85rem;
		line-height: 1rem;
	}

	.description-cont h1:hover {
		font-size: 0.85rem;
		line-height: 1rem;
	}
}