@font-face {
  font-family: PPFractionMono;
  src: url('./fonts/PPFraktionMono-Regular.woff2') format('woff2');
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 100vw;
  overflow: scroll;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.page-number {
	height: fit-content;
	position: fixed;
	top: 3vh;
	left: 3vw;
	z-index: 100;
}

.page-number-cont {
	display: grid;
 	grid-template-columns: repeat(2, auto);
	gap: 10px;
	width: fit-content;
	height: fit-content;
	position: relative;
}

.page-number .number {
	border-radius: 50px;
	background: #F5F5F5;
	width: 20px;
	height: 20px;
	display: grid;
	place-items: center;
	padding: 10px;
}

.page-number .number p {
	width: fit-content;
	height: auto;
	z-index: 0;
	font-family: "PPFractionMono";
	color: #000;
	font-size: 0.5rem;
	letter-spacing: 0em;
	text-align: center;
	line-height: 0rem;
	font-feature-settings: normal;
	position: relative;
}

.page-number .number-hl {
	border-radius: 50px;
	background: #000;
	width: 20px;
	height: 20px;
	display: grid;
	gap: 4px;
	place-items: center;
	padding: 10px;
}

.page-number .number-hl p {
	width: fit-content;
	height: auto;
	z-index: 0;
	font-family: "PPFractionMono";
	color: #F5F5F5;
	font-size: 0.5rem;
	letter-spacing: 0em;
	text-align: center;
	line-height: 0rem;
	font-feature-settings: normal;
	position: relative;
}

.period {
	height: fit-content;
	position: fixed;
	z-index: 100;
	top: 3vh;
	right: 3vw;
}

.period-cont {
	display: grid;
 	grid-template-columns: repeat(3, auto);
  	gap: 10px;
	width: fit-content;
	height: fit-content;
	position: relative;
}

.period .period-text {
	border-radius: 50px;
	background: #F5F5F5;
	width: fit-content;
	height: 20px;
	display: grid;
	place-items: center;
	padding: 10px 20px;
}

.period .period-text p {
	width: fit-content;
	height: auto;
	z-index: 0;
	font-family: "PPFractionMono";
	color: #000;
	font-size: 0.6rem;
	letter-spacing: 0em;
	text-align: center;
	line-height: 0rem;
	font-feature-settings: normal;
	position: relative;
}

.period .period-text-hl {
	border-radius: 50px;
	background: #000;
	width: fit-content;
	height: 20px;
	display: grid;
	gap: 4px;
	place-items: center;
	padding: 10px 20px;
}

.period .period-text-hl p {
	width: fit-content;
	height: auto;
	z-index: 0;
	font-family: "PPFractionMono";
	color: #F5F5F5;
	font-size: 0.5rem;
	letter-spacing: 0em;
	text-align: center;
	line-height: 0rem;
	font-feature-settings: normal;
	position: relative;
}

.question {
	height: fit-content;
	position: fixed;
	z-index: 100;
	bottom: 3vh;
	right: 3vw;
}

.question p {
	width: 30vw;
	height: auto;
	z-index: 0;
	font-family: "PPFractionMono";
	color: #000;
	font-size: 0.8rem;
	letter-spacing: 0em;
	text-align: right;
	line-height: 1rem;
	font-feature-settings: normal;
	position: relative;
}

.description {
  position: relative;
	height: calc(100vh - 12vh);
  width: 100vw;
  display: grid;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 20vh 5vw 20vh 5vw;
}


.description-cont {
  display: grid;
  gap: 0vh;
  width: 90%;
  max-width: 40vw;
  margin: 0 auto;
  height: fit-content;
	position: relative;
	place-items: left;
}

.description h1{
	font-family: "PPFractionMono";
	color: #000;
	font-size: 1rem;
	letter-spacing: 0em;
	text-align: left;
	line-height: 2rem;
	font-feature-settings: normal;
	position: relative;
}

.description .description-list h1{
	font-family: "PPFractionMono";
	color: #000;
	font-size: 1rem;
	letter-spacing: 0em;
	text-align: left;
	line-height: 1rem;
	font-feature-settings: normal;
	position: relative;
}

.description p{
	font-family: "PPFractionMono";
	color: #000;
	font-size: .8rem;
	letter-spacing: 0em;
	text-align: left;
	line-height: 2rem;
	font-feature-settings: normal;
	position: relative;
}

a {
	color: 5FEFB5;
}

@media (max-width: 800px) {

  .page-number .number {
		width: 14px;
		height: 14px;
		padding: 7px;
	}

	.page-number .number p {
		font-size: 0.4rem;
	}

  .page-number .number-hl {
		width: 14px;
		height: 14px;
		padding: 7px;
	}

	.page-number .number-hl p {
		font-size: 0.4rem;
	}

	.period .period-text {
		padding: 5px 10px;
	}	

	.period .period-text-hl {
		padding: 5px 10px;
	}	

	.question p {
		font-size: 0.6rem;
	}

	.data .data-button {
		width: 20px;
		height: 20px;
	}

	.description p {
		font-size: 0.6rem;
		line-height: 1rem;
	}
}